{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <div class="card p-4 shadow-lg" style="max-width: 700px; margin: auto;">
            <h1 class="text-center mb-4 text-primary">Add a New Teacher</h1>
            <form method="POST" id="teacher-form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_school" class="font-weight-bold text-secondary">Select School</label>
                    {{ form.school|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="id_assigned_classes" class="font-weight-bold text-secondary">Assigned Classes</label>
                    {{ form.assigned_classes|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="id_name" class="font-weight-bold text-secondary">Teacher Name</label>
                    {{ form.name|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="id_email" class="font-weight-bold text-secondary">Email</label>
                    {{ form.email|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="id_subject" class="font-weight-bold text-secondary">Subject</label>
                    {{ form.subject|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-success btn-block py-2 mt-3">Submit</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const schoolSelect = document.querySelector('#id_school');
            if (schoolSelect) {
                schoolSelect.addEventListener('change', function () {
                    this.form.submit();  // submits the form so Django reloads it with updated classes
                });
            }
        });
    </script>
{% endblock %}
class Solution(object):
    def mergeTwoLists(self, list1, list2):
        list3=[]
        j=0
        k=0
        while j<len(list2) and k<len(list1):
            if list2[j]<list1[k]:
                list3.append(list2[j])
                j+=1
            else:
                list3.append(list1[k])

        if j==len(list2):
            list3.append(list1[k])
        elif k==len(list1):
            list3.append(list2[j])
        return list3

lis1=[1,2,3,4,5]
lis2 = [2,3,4,5,6]

obj=Solution()
print(obj.mergeTwoLists(lis1, lis2))